@mixin flex-justify($flex-direction, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
}

@mixin flex-align($flex-direction, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
}

@mixin grid($rows, $columns, $gap) {
  display: grid;
  grid-template-rows: repeat(#{$rows}, 1fr);
  grid-template-columns: repeat(#{$columns}, 1fr);
  gap: #{$gap};
}

@mixin unbuttonize {
  // This removes styles added by default to button elements.
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
}
