@use "../abstracts/" as a;

/* MOBILE STYLES */
header {
  width: 100%;
  height: 100dvh;
  text-align: center;
  background-color: a.$primary;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  //   .hero-section {
  //     display: flex;
  //     flex-direction: column;
  nav {
    grid-area: 1 / 1 / 2 / 2; 
  }
  .hero-info {
    grid-area: 2 / 1 / 3 / 2;
    p {
      font-family: a.$font-SFUIText, sans-serif;
      font-weight: 400;
      font-size: a.rem(14, 16);
      color: a.$text-color-light;
      margin-top: a.rem(20, 16);
    }

    h2 {
      font-family: a.$font-hkGrotesk, sans-serif;
      font-weight: 600;
      font-size: a.rem(20, 16);
      color: a.$color-light;
      margin-top: a.rem(20, 16);
    }
    .title-container {
      @include a.flex-justify(column, center);

      h1 {
        font-family: a.$font-hkGrotesk, sans-serif;
        font-weight: 800;
        font-size: a.rem(40, 16);
        padding-top: a.rem(20, 16);
        color: a.$text-color-light;
      }

      iframe {
        margin: 0 auto;
        margin-top: a.rem(10, 16);
      }
    }
  }

  .hero-img {
    grid-area: 4 / 1 / 6 / 2;
    img {
      height: 1fr;
      width: 100%;
      object-fit: contain;
    }
  }
}
