@use "../abstracts/" as a;

.container {
  @include a.flex-align(column, center);
  background-color: a.$color-light;
}

.header-wrapper {
  width: 100%;
  max-width: 1124px;
}

.main-wrapper {
  width: 100%;
  max-width: 1060px;
}