//theme colors
$primary: #151B2B;
$secondary: #454658;
$color-light: #F9F9FD;
$text-color-light: #fff;
$highlight-color: #5D64D2;
$btn-callToAction: #6578C0;

//borders
$base-border-thickness: rem(1);
$base-border-radius: rem(3);

//typography
$title-desktop-size: rem(46);
$title-secondary-desktop-size: rem(32);